.bk-pink {
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  min-height: 30px;
}

.bk-green {
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);
  min-height: 30px;
}

.bk-blue {
  background-color: #50d8d7;
  background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
  min-height: 30px;
}

.bk-purple {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  min-height: 30px;
}

.bk-yellow {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  min-height: 30px;
}

.bk-orange {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  min-height: 30px;
}

.bk-red {
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  min-height: 30px;
}